* {
    font-family: 'Source Code Pro', monospace;
    scroll-behavior: smooth;
}

.navbar-brand {
    padding-top: 0.125rem;
}

.github-icon {
    margin-right: 1.25rem;
}

.footer {
    color: #d5d5d5;
    text-align: center;
    background-color: #3f3f3f;
    border-top: .05rem solid #2f2f2f;
    padding: 2.5rem;
}

p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.temp {
    margin-bottom: 100rem;
}

.hr-normal {
    padding-bottom: 1rem;
}

.hr-light {
    color: #e5e5e5;
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: 2rem;

}

.btt {
    color: #d5d5d5;
}

.btt:hover {
    color: #e5e5e5;
}

.wcs {
    margin-left: 17.70rem;
    margin-bottom: 4rem;
}

.meta {
    color: #999;
}

.page-end {
    margin-bottom: 5rem;
}
