* {
    font-family: 'Source Code Pro', monospace;
}

.navbar-brand {
    padding-top: 0.125rem;
}

.github-icon {
    margin-right: 1.25rem;
}

.about {
    margin-top: 5rem;
}

.footer {
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    padding: 2.5rem;
}

p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

a {
    color: #007bff;
}